/**** Custom Properties ****/
:root {
  --font:"Poppins", sans-serif;
  --lightblue:lightblue;
  --white: #fff;
  --dark-blue: #003147;
  --shiny-blue: #03a9f4;
  --grey: 1px solid rgba(255,255,255,0.2);
  --bg-footer: #035880;
}

/**** Reset ****/
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--lightblue);
  height: auto;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.2rem;
}

h4 {
  margin: 0;
  font-size: 0.9rem;
}

h5 {
  margin: 0;
  font-size: 0.7rem;
}

h6 {
  margin: 0;
  font-size: 0.5rem;
}

p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/**** Components ****/
.circle-image {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.circle-image img {
  width: 100%;
  height: auto;
}
/**** Utilities ****/

.container {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: auto auto auto;
  grid-template-areas: "personal-info"
                       "general-info"
                       "footer";
}

.date {
  font-weight: 500;
  color: var(--shiny-blue);
}

.footer {
  grid-area: footer;
  padding: 1rem;
  background-color: var(--bg-footer);
  text-align: center;
  color: var(--white);
}

.general-info {
  padding: 2rem;
  grid-area: general-info;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--white);
}

.general-info p {
  font-size: 1rem;
  color: #333;
  font-weight: 400;
}

.general-info .experience p {
  padding-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.general-info .experience{
  margin-bottom: 1rem;
}

.general-info-tittle {
  color: var(--dark-blue);
  letter-spacing: 1px;
}

.icon {
  color: var(--shiny-blue);
  width: 17px;
}

.idioma {
  font-weight: 500;
}

.personal-info {
  grid-area: personal-info;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-blue);
}

.personal-info .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.personal-info > div {
  padding-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: var(--grey);
} 

.personal-info .languages{
  border-bottom: none;
}

.profile h3 {
  margin-top: 0.5rem;
}

ul {
  list-style: none;
  padding-left: 1rem;
  margin-bottom: 0;
}

.list-info li:not(:first-child) {
  margin-top: 0.3rem;
}

.text {
  color: var(--white);
  font-weight: 200;
}

.tittle {
  color: var(--white);
  font-weight: 500;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .container {
    grid-template-columns: 1.2fr 2fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "personal-info  general-info"
                         "footer         footer";
  }
  .general-info p {
    font-size: 1.2rem;
  }
}